@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


html {
    scroll-behavior: smooth;
  }
* {
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}

ul.categorias{
    list-style: none;
    padding-left: 0;
}
ul.categorias li {
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.alert p{
    margin: 0;
}

.card-img-top{
    width: auto;
    max-width: 100%;
    margin: 0 auto;
}
/* 

.container {
    width: 900px;
    max-width: 100%;
} */
.container-fluid {
    padding: 0 !important;
}

.list-group-item {
    padding: 1.35rem 0.10rem !important;
}

a.nav-link {
    color: white !important;
}

.bg-eigen {
    background-color: #16161d !important;
}
a.nav-link{
    padding:21px 15px !important;
    border-bottom:0.7px solid #16161d;
}
a.nav-link:hover{
    border-bottom:0.7px solid white;
    transition: 0.9s;
}


img.card-img-top{
    height: 350px;
    width: auto;
    margin: 0 auto;
}

h5.card-title.text-center{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}
.navbar{
    padding: 0 !important;
}

.second{
        padding-top: 100px !important;
}
.new-products{
        padding-top: 80px !important;
}

.img-full {
    width: 100%;
}

.clearfix {
    clear: both;
}

.carousel-item {
    margin-top: 50px;
    height: 50vh;
    min-height: 250px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section.second {
    background-color: white !important;
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

p.lead{
    font-family: 'Roboto', sans-serif !important;
}
section.new-products {
    background-color: white !important;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.btn-primary{
    background-color:gray !important;
    border-color: gray !important;
}
.btn-primary:hover{
    background-color:#16161d !important;
    border-color: #16161d !important;
    transition: 2s;
}

.pagination{
    justify-content: center;
}






/* LABEL */
.label-float{
    position: relative;
    padding-top: 13px;
  }
  
  .label-float input{
    border: 0;
    border-bottom: 2px solid lightgrey;
    outline: none;
    min-width: 380px;
    font-size: 16px;
    transition: all .3s ease-out;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -webkit-appearance:none;
    border-radius:0;
  }
  
  .label-float input:focus{
    border-bottom: 2px solid #3951b2;
  }
  
  .label-float input::placeholder{
    color:transparent;
  }
  
  .label-float label{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 20px;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
  }
  
  .label-float input:required:invalid + label{
    color: gray;
  }
  .label-float input:focus:required:invalid{
    border-bottom: 2px solid #212529;
  }

  .label-float input:focus + label,
  .label-float input:not(:placeholder-shown) + label{
    font-size: 16px;
    margin-top: 0;
    color: #3951b2;
  }
  .col-form-label{
      line-height: 0.1;
  }
  div.label-float{
    margin: 0 auto;
  }

  .btn-link{
      color:#212529;
  }
  